In [1]:
import pandas as pd

In [4]:
df=pd.read_excel('file1.xlsx')

In [10]:
df.head()

   나이 이름
0  20  갑
1  21  을
2  22  병
3  23  정
4  24  진

In [6]:
songs={'Album':['Thrileer', 'Back in Black'], 'Released':[1982, 1980]}

In [7]:
songs_frame=pd.DataFrame(songs)

In [8]:
songs_frame

           Album  Released
0       Thrileer      1982
1  Back in Black      1980